.Rproj.user
.Rhistory
.RData
.Ruserdata
*big*
wc2-5/
Icon\r
*.DS_Store*
.Rproj.user*
.Rproj.user/*
.Rproj.user
*.DS_Store
*.csv
*.tsv
data-worldclim/
data-raw/trash/
data-raw/old-spreadsheets/
data-sensors/
TODELETE/
srtm/
data/alleles.clim.rds